<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>

<div th:fragment="newRecipeForm(formRecipe, allUnits, #fields)">
    <form class="row g-3" th:action="@{/recipe/save}" method="post" th:object="${formRecipe}">
        <input type="hidden" th:field="${formRecipe.recipeId}">
        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="title" class="col-form-label">Title</label>
            </div>
            <div class="col-9">
                <input type="text" id="title" class="form-control" aria-describedby="titleHelpInLine"
                       th:field="*{title}">
            </div>
            <div class="col-12">
                <span id="titleHelpInLine" class="form-text" th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="shortDescription" class="col-form-label">Short description of recipe</label>
            </div>
            <div class="col-9">
                <textarea id="shortDescription" class="form-control" rows="3"
                          aria-describedby="shortDescriptionHelpInLine" th:field="*{shortDescription}"></textarea>
            </div>
            <div class="col-12">
                <span id="shortDescriptionHelpInLine" class="form-text" th:if="${#fields.hasErrors('shortDescription')}"
                      th:errors="*{shortDescription}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="prepTime" class="col-form-label">Preparation time (minutes)</label>
            </div>
            <div class="col-9">
                <input type="text" id="prepTime" class="form-control" aria-describedby="prepTimeHelpInLine"
                       th:field="*{prepTime}">
            </div>
            <div class="col-12">
                <span id="prepTimeHelpInLine" class="form-text" th:if="${#fields.hasErrors('prepTime')}"
                      th:errors="*{prepTime}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="cookTime" class="col-form-label">Cooking time (minutes)</label>
            </div>
            <div class="col-9">
                <input type="text" id="cookTime" class="form-control" aria-describedby="cookTimeHelpInLine"
                       th:field="*{cookTime}">
            </div>
            <div class="col-12">
                <span id="cookTimeHelpInLine" class="form-text" th:if="${#fields.hasErrors('cookTime')}"
                      th:errors="*{cookTime}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="instructions" class="col-form-label">Cooking steps</label>
            </div>
            <div class="col-9">
                <textarea id="instructions" class="form-control" rows="5" aria-describedby="instructionsHelpInLine"
                          th:field="*{instructions}"></textarea>
            </div>
            <div class="col-12">
                <span id="instructionsHelpInLine" class="form-text" th:if="${#fields.hasErrors('instructions')}"
                      th:errors="*{instructions}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="servings" class="col-form-label">Servings</label>
            </div>
            <div class="col-9">
                <input type="text" id="servings" class="form-control" aria-describedby="servingsHelpInLine"
                       th:field="*{servings}">
            </div>
            <div class="col-12">
                <span id="servingsHelpInLine" class="form-text" th:if="${#fields.hasErrors('servings')}"
                      th:errors="*{servings}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="ingredientDropdown" class="col-form-label">Select ingredients</label>
            </div>
            <div class="col-9">
                <select id="ingredientDropdown" class="selectpicker" multiple title="Select ingredients.."
                        data-live-search="true" data-selected-text-format="count"
                        aria-describedby="ingredientDropdownHelpInline"
                        onchange="ingredientSearch()">
                    <option th:each="ingredient, stat : *{allIngredients}"
                            th:value="${ingredient.ingredientName}"
                            th:text="${ingredient.ingredientName}"
                            th:selected="*{allIngredients[__${stat.index}__].amount} != null">
                    </option>
                </select>
            </div>
            <div class="col-12">
                <span id="ingredientDropdownHelpInline" class="form-text" th:if="${#fields.hasErrors('allIngredients')}"
                      th:errors="*{allIngredients}"></span>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="ingredientEditList" class="col-form-label">Enter quantities</label>
            </div>
            <div class="col-9" id="ingredientEditList">
                <div class="row" th:each="ingredient, stat : *{allIngredients}" style="display: none">
                    <input type="hidden" th:field="*{allIngredients[__${stat.index}__].ingredient}"/>
                    <input type="hidden" th:field="*{allIngredients[__${stat.index}__].recipeIngredientId}"/>
                    <div class="col-2">
                        <input class="col-2 form-control" type="number" step="any"
                               th:field="*{allIngredients[__${stat.index}__].amount}">
                    </div>
                    <div class="col-2">
                        <select id="unitDropdown" class="selectpicker col-2" title="Unit.." data-width="100%"
                                th:field="*{allIngredients[__${stat.index}__].unit}">
                            <option th:each="unit : ${allUnits}" th:value="${unit}" th:text="${unit}"></option>
                        </select>
                    </div>
                    <div class="col">
                        <span class="col" th:text="${ingredient.ingredientName}"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-3">
                <label for="imageUrl" class="col-form-label">Image of prepared recipe (URL)</label>
            </div>
            <div class="col-9">
                <input type="url" id="imageUrl" class="form-control" aria-describedby="imageUrlHelpInline"
                       th:field="*{imageUrl}">
            </div>
            <div class="col-12">
                <span id="imageUrlHelpInline" class="form-text" th:if="${#fields.hasErrors('imageUrl')}"
                      th:errors="*{imageUrl}">
                </span>
            </div>
        </div>

        <div class="d-grid d-md-flex gap-2 justify-content-end">
            <button type="submit" class="btn btn-custom btn-lg"> Save recipe</button>
            <button type="button" class="btn btn-custom-delete btn-lg" data-bs-dismiss="modal" aria-label="Close"> Close</button>
        </div>
    </form>
</div>

<div th:fragment="recipeFormModal(formRecipe, allUnits, #fields, title)" class="modal fade" id="newRecipe" tabindex="-1"
     aria-labelledby="newRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <h1 class="modal-title text-center" id="editRecipeModalLabel" th:text="${title}"></h1>
            <div class="modal-body">
                <div class="container-fluid">
                    <div th:replace="~{:: newRecipeForm(${formRecipe}, ${allUnits}, ${#fields})}"></div>
                </div>
            </div>
        </div>
    </div>

    <script th:unless="${formModalHidden}">
        new bootstrap.Modal(document.getElementById('newRecipe'), {}).toggle()
    </script>
    <script>
        function ingredientSearch() {
            var input, filter, list, listItems, text, i;
            input = document.getElementById("ingredientDropdown").selectedOptions;
            filter = [];
            for (i = 0; i < input.length; i++) {
                filter.push(input[i].value);
            }
            list = document.getElementById("ingredientEditList");
            listItems = list.getElementsByClassName("row");

            // loop through list items, hide the ones who don't match the search input
            for (i = 0; i < listItems.length; i++) {
                text = listItems[i].getElementsByTagName("span")[0];
                if (filter.includes(text.innerHTML)) {
                    listItems[i].style.display = "";
                } else {
                    listItems[i].style.display = "none";
                }
            }
        }
    </script>
</div>

</body>
</html>
