<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Homepage</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>StewArt Homepage</h1>
        </div>
    </div>
    <div>
        <form th:action="@{/search}" method="post" th:object="${searchForm}">
            <div th:replace="~{fragments/recipe :: searchBar}"></div>
        </form>
    </div>
</div>


<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
<div th:replace="~{fragments/stewArtUser :: userFormModal(${formUser}, ${#fields})}"></div>
</body>
</html>
