<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>My recipes</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">

    <div class="row">
        <div class="col-10">
            <h1>My recipes</h1>
        </div>
        <div class="col-2">
            <button type="button"
                    class="btn btn-custom btn-lg px-4 fw-bold"
                    data-bs-toggle="modal" data-bs-target="#newRecipe">
                <i class="bi bi-plus-square"></i> Add recipe
            </button>
        </div>
    </div>

    <div>
        <form th:action="@{/recipe/my_recipes_search}" method="post" th:object="${searchForm}">
            <div th:replace="~{fragments/recipe :: searchBar}"></div>
        </form>
    </div>

    <div th:replace="~{fragments/recipe :: recipeCardsNew(${allRecipes})}"></div>
</div>


<div th:replace="~{fragments/recipeAddModal :: recipeFormModal(${formRecipe}, ${allUnits}, ${#fields})}"></div>
<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>