<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title th:text="|Details for recipe: ${recipe.title}|"></title>
</head>
<body onload="ingredientSearch(), calculateIngredientAmount()">

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container my-5" th:object="${recipe}">
    <div class="row p-5 g-5 m-2 align-items-center rounded-3 border shadow-lg bg-custom-card">
        <div class="col-4 mt-0">
            <img class="img-fluid rounded overflow-hidden shadow-lg" th:src="*{imageUrl}" th:alt="|Cover for *{title}|">
        </div>
        <div class="col-8 mt-0">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis text-center" th:text="*{title}"></h1>
            <pre class="lead" style="text-wrap: wrap;" th:text="*{shortDescription}"></pre>
            <p class="card-text">
                <i class="bi bi-clock"> Preparation time
                    <small class="text-body-secondary" th:text="${recipe.prepTime}"></small> minutes</i>
                <i class="bi bi-clock"> Cooking time
                    <small class="text-body-secondary" th:text="${recipe.cookTime}"></small> minutes</i>
                <small class="float-end">Added by
                    <small class="text-body-secondary" th:text="${recipe.recipeAuthor.username}"></small></small>
            </p>
            <div class="row mb-3">
                <span class="bi bi-person col-2 mt-1">  Servings: </span>
                <input id="servingsInput" class="bg-searchbar col-1 rounded-2" type="number"
                       onchange="calculateIngredientAmount()" th:field="${recipe.servings}">
            </div>
            <ul id="ingredientList">
                <li th:each="ingredient, stat : ${recipe.ingredients}">
                    <span id="ingredientAmountShown" th:text="${ingredient.amount}"></span>
                    <span th:text="${ingredient.unit}"></span>
                    <span th:text="${ingredient.ingredientName}"></span>
                    <input id="ingredientAmountNormalized" type="hidden"
                           th:field="*{ingredients[__${stat.index}__].amount}">
                </li>
            </ul>
            <pre class="card-text" style="text-wrap: wrap;" th:text="${recipe.instructions}"></pre>
            <p th:if="${recipe.recipeAuthor.username == currentUsername || role == 'ADMIN'}"
                    class="text-center">
                <button type="button"
                        class="btn btn-custom btn-lg px-4 fw-bold"
                        data-bs-toggle="modal" data-bs-target="#newRecipe" >
                    <i class="bi bi-pencil-square"></i> Edit
                </button>

                <a role="button"
                    class="btn btn-custom-delete btn-lg px-4 fw-bold"
                th:href="@{/recipe/delete/{recipeId}(recipeId = *{recipeId})}">
                    <i class="bi bi-trash3"></i> Delete
                </a>
            </p>
        </div>
    </div>
</div>

<script>
    function calculateIngredientAmount() {
        var ingredientList, servings, amountNorm, amountShown, amountToBeShown, i;
        ingredientList = document.getElementById("ingredientList").getElementsByTagName("li");
        servings = document.getElementById("servingsInput").valueAsNumber;

        for (i = 0; i < ingredientList.length; i++) {
            amountNorm = ingredientList[i].getElementsByTagName("input")[0].value;
            amountShown = ingredientList[i].getElementsByTagName("span")[0];
            amountToBeShown = Math.round(amountNorm * servings * 100) / 100;
            amountShown.innerHTML = amountToBeShown.toString();
        }
    }
</script>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
<div th:replace="~{fragments/recipeAddModal :: recipeFormModal(${formRecipe}, ${allUnits}, ${#fields}, 'Edit recipe')}"></div>
</body>
</html>
