<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Recipe Form</title>
</head>
<body>

<h1>Create a new recipe</h1>

<form th:action="@{/recipe/save}" method="post" th:object="${formRecipe}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"></td>
        </tr>
        <tr>
            <td>Preparation time</td>
            <td><input type="text" th:field="*{prepTime}"></td>
        </tr>
        <tr>
            <td>Cooking time </td>
            <td><input type="text" th:field="*{cookTime}"></td>
        </tr>
        <tr>
            <td>Short Description of recipe</td>
            <td><input type="text" th:field="*{shortDescription}"></td>
        </tr>
        <tr>
            <td>Instructions</td>
            <td><input type="text" th:field="*{instructions}"></td>
        </tr>
    </table>

    <input type="submit" value="Save recipe" />
</form>

<a th:href="@{/recipe/overview}">Go back to the overview</a>

<div class="container">
    <ul>
        <li th:each="recipe: ${allRecipes}" th:text="${recipe.title}"></li>
    </ul>

    <button type="button"
            class="btn btn-outline-success btn-lg px-4 fw-bold"
            data-bs-toggle="modal" data-bs-target="#newRecipe">
        <i class="bi bi-plus-square"></i> Add recipe
    </button>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

<div th:replace="~{fragments/recipeAddModal :: recipeFormModal(${formRecipe}, ${#fields})}"></div>

</body>
</html>
