<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Overview of recipes</title>
</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<h1>Overview of recipes</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Total cooking and preparation time</th>
        <th>Description of recipe</th>
        <th></th>
    </tr>
    <tr th:each="recipe : ${allRecipes}">
        <td th:text="${recipe.title}"></td>
        <td th:text="${recipe.totalTime}"></td>
        <td th:text="${recipe.shortDescription}"></td>
    </tr>
</table>

<a th:href="@{/recipe/new}">Add a new recipe</a>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
